// /* CSS HEX */
// --kombu-green: #334C35ff;
// --cafe-au-lait: #A4835Dff;
// --antique-brass: #C68E6Eff;
// --uranian-blue: #A9D2E9ff;
// --raisin-black: #1B2330ff;

// /* CSS HSL */
// --kombu-green: hsla(125, 20%, 25%, 1);
// --cafe-au-lait: hsla(32, 28%, 50%, 1);
// --antique-brass: hsla(22, 44%, 60%, 1);
// --uranian-blue: hsla(202, 59%, 79%, 1);
// --raisin-black: hsla(217, 28%, 15%, 1);

/* SCSS HEX */
$kombu-green: #334C35ff;
$cafe-au-lait: #A4835Dff;
$antique-brass: #C68E6Eff;
$uranian-blue: #A9D2E9ff;
$raisin-black: #1B2330ff;

/* SCSS HSL */
$kombu-green: hsla(125, 20%, 25%, 1);
$cafe-au-lait: hsla(32, 28%, 50%, 1);
$antique-brass: hsla(22, 44%, 60%, 1);
$uranian-blue: hsla(202, 59%, 79%, 1);
$raisin-black: hsla(217, 28%, 15%, 1);

/* SCSS RGB */
$kombu-green: rgba(51, 76, 53, 1);
$cafe-au-lait: rgba(164, 131, 93, 1);
$antique-brass: rgba(198, 142, 110, 1);
$uranian-blue: rgba(169, 210, 233, 1);
$raisin-black: rgba(27, 35, 48, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-right: linear-gradient(90deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-bottom: linear-gradient(180deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-left: linear-gradient(270deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-top-right: linear-gradient(45deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-bottom-right: linear-gradient(135deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-top-left: linear-gradient(225deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-bottom-left: linear-gradient(315deg, #334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);
$gradient-radial: radial-gradient(#334C35ff, #A4835Dff, #C68E6Eff, #A9D2E9ff, #1B2330ff);